body{
  background-color: darkslateblue;
  color:aliceblue;
  
}


.formcontainer{
  margin-top: 25px; 
  width: 500px;
  height: 450px;
  border: 2px solid #b28484;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgb(111, 0, 255), rgb(206, 130, 201));
  justify-content: space-between;
  padding: 20px;
 
}
.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.footer{
  display: flex;
  justify-content: space-between;
  
}
button {
  background-color:darkslateblue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bolder;
  margin: 4px 2px;
  cursor: pointer;
}
button:hover{
  opacity: 0.8;
}
.header{
  display: flex;
  justify-content: center;
}
.header > h1{
    color: aliceblue;
}
.signup{
  display: flex;
  flex-direction: column;
  
}
.personalinfo{
  display: flex;
  flex-direction: column;
  
}
.studies{
  display: flex;
  flex-direction: column;
  
}
.reviewinfo{
  display: flex;
  flex-direction: column;
  font-weight: 600;
}
input{
  width:50%;
  border-radius: 5px;
  outline: auto;
  margin: 10px 10px;
  color: #000 ;
}
label{
  font-weight: 600;
  
}
div{
  font-weight: 600;
 
}
.progressbar{
  height: 20px;
  border-radius: 10px;
  width:500px;
  background-color: aliceblue;
  margin-bottom: 100px;
  margin-top: 100px;
}
.miniprogressbar{
  height: 100%;
  border: 10px;
  width:25%;
  background-color: indigo;
  border-radius: 10px;
}